# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
legacy-pdf-lib/

Extra/

# testing
/coverage
inspiration.html
extra.txt
temp.jsx
test/
public/uploads
# next.js
/.next/
out/
app/api/docx/route.ts
old*.png
Old.css
pages.css
ConvertToDOCX.jsx
# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
